
<!--Recogiendo propiedades del padre a hijo mediante input-->
<app-slider [nombre]="'Preguntas frecuentes'"
[size]="'small'">
    <!--la variable hometext esta definida en app.component.ts-->
</app-slider>

<div class="center">
    <section id="contenido">
        <div class="preguntas">
            <ul class="subcabecera" class="faq">
                <li id="faq">¿Por qué?
                    <p>Porque los zombies van a llegar!!</p>
                </li>
                <li id="faq">Para qué?
                    <p>Para proteger el mundo de la devastación.
                        Para unir a todos los pueblos en una sola nación.</p>
                </li>
                <li id="faq">Cómo?</li>
                <li id="faq">Dónde?
                    <p>En el otro mundo, dicen que la vacalifa.</p>
                </li>
            </ul>
        </div>
    </section>
</div>